.artist-display-holder {
    min-width: 200px;
    min-height: 250px;
    background: var(--main-bg-color);
    box-shadow: 0 0 8px 0px black;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
}

.artist-rounded-circle-holder {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}

.artist-name {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}

.artist-description {
    margin-top: 5px;
    font-size: 13px;
}


@media only screen and (max-width: 850px) {
    .artist-display-holder {
        min-width: 170px;
        min-height: 170px;
    }

    .artist-rounded-circle-holder {
        height: 100px;
        width: 100px;
    }

    .artist-name {
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }

    .artist-description {
        margin-top: 5px;
        font-size: 11px;
    }
}