@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --main-bg-color: #000000;
  --main-nav-bg-color: #000000;
  --main-master-color: #F32C2C;
  --scroll-track-bg-color: rgb(0, 0, 0);
  --scroll-track-thumb-color: #232323;
  --scroll-track-thumb-color-hover: #F32C2C;
  --nav-menu-hover-color: rgba(82, 82, 82, 0.4);
  --text-color-main: #C1CCCC;
  --text-color-sub-1: #999992;
  --text-color-sub-2: #707070;
  --horizontal-rule-color: #252525;
  --brigth-hover: #cccccc;
  --search-input-bg-color: #252525;
  --progress-bar-bg-color: #363333;
  --progress-bar-slider-thumb: #cccccc;
  --search-icon-background: #252525;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  -webkit-user-select: text !important;
  /* Chrome, Opera, Safari */
  -moz-user-select: text !important;
  /* Firefox 2+ */
  -ms-user-select: text !important;
  /* IE 10+ */
  user-select: text !important;
  /* Standard syntax */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
  background: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--text-color-main);
  overflow: hidden;
}

main {
  height: calc(100vh - 65px);
  width: calc(100vw - 250px);
  margin-left: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

/* mobile responsiveness */
@media only screen and (max-width: 1100px) {
  main {
    width: calc(100vw);
    margin-left: 0;
  }
}

@media only screen and (max-width: 750px) {
  main {
    height: calc(800vh);
  }
}


.master-color {
  color: var(--main-master-color) !important;
}

.main-text-color {
  color: var(--text-color-main) !important;
}