.forget-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}


/* width */
.forgot-wrapper::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

/* Track */
.forgot-wrapper::-webkit-scrollbar-track {
    background: var(--scroll-track-bg-color);
    border-radius: 10px;
}

/* Handle */
.forgot-wrapper::-webkit-scrollbar-thumb {
    background: var(--scroll-track-thumb-color);
    border-radius: 20px;
    cursor: pointer;
}

/* Handle on hover */
.forgot-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-track-thumb-color-hover);
}