.languages-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}


@media only screen and (max-width: 800px) {
    .languages-wrapper {
        align-items: center;
        justify-content: center;
    }
}