.nopage-center {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.nopage-center img {
	width: 50vw;
	height: 50vh;
}

.err-msg {
	font-weight: bold;
	text-align: center;
	justify-content: center;
}

.ghost-button-semi-transparent {
	margin-top: 1em;
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 25px;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff; /* fallback */
	border-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
