.nopage-center {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.nopage-center img {
	width: 50vw;
	height: 50vh;
}

.err-msg {
	font-weight: bold;
	text-align: center;
	justify-content: center;
}

.ghost-button-semi-transparent {
	width: 200px;
	border-radius: 50px;
}