.playlist-display-wrapper {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.playlist-display-left-section-wrapper {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 10px 0 10px;
}

.playlist-display-thumbnail-holder {
    width: 450px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.playlist-display-title-holder {
    color: var(--text-color-sub-1);
    margin-top: 25px;
    font-size: 22px;
    padding: 0 10px 0 10px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.playlist-display-title-holder>input {
    background: transparent;
    color: var(--text-color-main);
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 3px;
    margin-bottom: 10px;
    outline: none;
}

.edit-playlist-button-holder>button {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text-color-sub-1);
    font-size: 15px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.edit-playlist-button-holder>button:nth-child(1) {
    border: 1px solid lightgreen;
    margin-right: 10px;
}

.edit-playlist-button-holder>button:nth-child(2) {
    border: 1px solid red;
}



.playlist-display-play-pause-holder {
    margin-top: 15px;
}

.playlist-display-play-pause-holder>div {
    padding: 10px 30px 12px 30px;
    background: transparent;
    border: 1px solid var(--main-master-color);
    color: var(--text-color-main);
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--main-master-color);
}

.playlist-display-play-pause-holder>div:hover {
    opacity: 0.8;
}

.playlist-display-play-pause-holder>div>i {
    font-size: 13px;
    margin-right: 8px;
}

.playlist-display-miscellanious-holder {
    margin-top: 20px;
    font-size: 18px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-display-right-section-wrapper {
    width: 60%;
    padding: 10px;
    height: auto;
    padding-bottom: 200px;
}

.playlist-display-songs-holder {
    display: flex;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.playlist-display-songs-serial-no {
    color: var(--text-color-sub-1);
    margin-right: 20px;
}

.playlist-display-songs-title {
    color: var(--text-color-sub-1);

}

.playlist-display-songs-duration {
    color: var(--text-color-sub-2);
}

.playlist-display-songs-icon {
    font-size: 13px;
    color: var(--main-master-color);
    margin-right: 20px;
}

.playlist-display-songs-icon-2 {
    width: 14px;
    margin-right: 20px;
    margin-top: 2px;
}

.playlist-display-songs-count-holder {
    font-size: 14px;
    margin: 5px;
    color: var(--text-color-sub-2);
}


@media only screen and (max-width: 1200px) {
    .playlist-display-wrapper {
        flex-direction: column;
    }

    .playlist-display-left-section-wrapper {
        width: 100%;
    }

    .playlist-display-right-section-wrapper {
        width: 100%;
    }
}