.reset-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.reset-logo-holder {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
}

.reset-logo-holder>img {
    width: 50px;
}

.reset-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .reset-wrapper {
        justify-content: flex-start;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}