.result-node {
    height: 6em;
    width: 20em;
    margin: 10px;
    display: flex;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
}

.result-node-thumb>img {
    height: 75px;
    width: 95px;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 5px;
    opacity: 0.8;
}

.result-node-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    word-break: break-all;

}

.result-node-title {
    max-height: 35px;
    overflow: hidden;
    font-size: 14px;
    color: #F5F0F0;
    opacity: 0.8;
    margin-top: 2px;
    text-align: left;
    font-weight: normal;
}

.result-node-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.result-node-duration {
    font-size: 14px;
    color: #F32C2C;
}

.result-node-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.play-icon-result {
    margin-bottom: 3px;
}

.queue-icon-result {
    margin-bottom: 3px;
}


.action-image-size {
    height: 17px;
}