.toast-margin-bottom {
  margin-bottom: 40px;
  z-index: 100000000000;
}

.toast-bg-color {
  background: #242424;
  width: 100%;
  height: 100%;
}

.toast-base-color {
  color: #f32c2c;
}

.make-invisible {
  display: none;
}

.make-visible {
  display: block !important;
}

.toast-progress-bar-color {
  background: #f32c2c;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.8;
}

.highlight-current-play {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.hover-me:hover {
  opacity: 0.8;
}

hr {
  opacity: 0.1;
}

.highlight-active {
  box-shadow: 0px 0px 10px 0px var(--main-master-color);
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.highlight-active-result {
  box-shadow: 0px 0px 10px 0px var(--main-master-color);
  border-radius: 5px;
}

.green-color {
  color: lightgreen;
}

.red-color {
  color: red;
}

.text-align-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.height-100 {
  height: 100%;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-15 {
  font-size: 15px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-17 {
  font-size: 17px;
}
.f-s-18 {
  font-size: 17px;
}