.home-wrapper {
    width: 100%;
    height: auto;
}

.home-section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
}

.home-section-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.left-section {
    height: auto;
    width: auto;
    display: grid;
    font-weight: bold;
    grid-template-columns: auto auto;
    gap: 10px;
    font-size: 15px;
}

.left-section>i {
    font-size: 19px;
}

.right-section {
    height: auto;
    width: auto;
    display: grid;
    font-weight: bold;
    grid-template-columns: auto auto;
    gap: 2px;
    font-size: 14px;
}