.main-header {
    z-index: 9;
    width: inherit;
    height: 68px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 0px 20px 0 20px;
}

.container-action-notifier {
    font-size: 17px;
    color: var(--text-color-main);
    display: flex;
    align-items: center;
}

.container-action-notifier>img {
    height: 18px;
    padding-right: 10px;
}

.master-search-bar {
    position: relative;
    width: 500px;
}

.search-input {
    border: 0;
    border-radius: 50px;
    width: 100%;
    background: var(--search-input-bg-color);
    font-size: 17px;
    caret-color: rgba(221, 221, 221, 0.4);
    padding: 10px 10px 10px 15px;
    color: var(--text-color-main);
}

.search-input:focus {
    outline: none;
    border: 0;
}

.search-input::placeholder {
    color: var(--text-color-sub-2);
    font-size: 17px;
}

.search-icon {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
    width: 35px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 8px;
    background: var(--search-icon-background);
}

.search-icon>img {
    width: 18px;
}

.search-icon:focus {
    outline: none;
}

.search-icon:hover {
    opacity: 0.8;
}

.main-user-profile-holder {
    padding-left: 15px;
}

.main-user-profile-holder>img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/* suggestion keyword  */
.suggestion-keyword-holder {
    position: absolute;
    top: 45px;
    left: 10px;
    width: 95%;
    height: auto;
    background: rgba(36, 36, 36, 0.9);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal !important;
    color: var(--text-color-sub-1);
    z-index: 10;
}

.suggested-keyword {
    opacity: 0.8;
    border-bottom: 1px solid rgba(37, 37, 37, 0.1);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.suggested-keyword:hover {
    background: rgb(112, 112, 112, 0.2);
    cursor: pointer;
}

.highlight-current {
    background: rgb(112, 112, 112, 0.2);
}

/* mobile responsiveness */
@media only screen and (max-width: 1000px) {
    .main-header {
        padding-left: 70px;
    }
}

@media only screen and (max-width: 750px) {
    .main-header {
        padding-left: 70px;
    }

    .container-action-notifier {
        display: none;
    }

    .search-input {
        font-size: 14px;
    }

    .suggestion-keyword-holder {
        font-size: 14px !important;
    }

    .search-input::placeholder {
        font-size: 14px;
    }

    .search-icon {
        right: 0px;
        top: 8px;
        width: 25px;
        background: inherit;
    }

    .search-icon>img {
        width: 18px;
    }

    .main-user-profile-holder>img {
        width: 33px;
        height: 33px;
        margin-top: 5px;
    }

    .main-header {
        padding-left: 50px;
        padding-right: 5px;
    }

}

@media only screen and (max-width: 320px) {

    .main-header {
        padding-left: 55px;
        padding-right: 5px;
    }

    .search-icon {
        width: 20px;
        padding-left: 5px;
    }

    .search-icon>img {
        width: 16px;
    }
}