/* dummy-music-holder */
.dummy-music-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.music-icon {
  width: 75px;
}

.music-icon-para {
  font-size: 24px;
  color: #CCCCCC;
  margin-top: 40px;
  opacity: 0.5;
}

/* preloader */
.search-preloader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* search result nodes container */
.search-result-container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.result-node {
  margin: 10px;
  display: flex;
  width: 18em;
  height: 6em;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border-radius: 5px;
}

.result-node-thumb>img {
  height: 75px;
  width: 95px;
  margin-left: 10px;
  margin-top: 3px;
  border-radius: 5px;
  opacity: 0.8;
}

.result-node-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  word-break: break-all;

}

.result-node-title {
  max-height: 35px;
  overflow: hidden;
  font-size: 14px;
  color: #F5F0F0;
  opacity: 0.8;
  margin-top: 2px;
  text-align: left;
  font-weight: normal;
}

.result-node-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result-node-duration {
  font-size: 14px;
  color: #F32C2C;
}

.result-node-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.play-icon-result {
  margin-bottom: 3px;
}


.action-image-size {
  height: 17px;
}