.albumsdash-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.albumsdash-header {
    width: 100%;
    background: white;
    display: block;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    font-size: 14px;
}

.albumdash-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: auto;
    box-sizing: border-box;
}

/* width */
.albumdash-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

/* Track */
.albumdash-container::-webkit-scrollbar-track {
    background: var(--text-leftnav);
    border-radius: 10px;
}

/* Handle */
.albumdash-container::-webkit-scrollbar-thumb {
    background: var(--base-color);
    border-radius: 20px;
    cursor: pointer;
}

/* Handle on hover */
.albumdash-container::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
    opacity: 0.5;
}



.albumdash-container-left-pan {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}

.albumdash-album-content-holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.albumdash-container-right-pan {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 50% 50%;
}


.albumdash-search-holder {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.albumdash-song-bucket-holder {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.albumdash-name-holder>div:first-child {
    font-size: 18px;
}

.albumdash-name-holder>div:nth-child(2) {
    font-size: 13px;
    color: gray;
}

.albumdash-name-holder>input {
    height: 45px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.albumdash-name-holder>input::placeholder {
    color: gray;
    opacity: 0.5;
}

.albumdash-artist-tags-holder>div:first-child {
    font-size: 18px;
    font-weight: bold;
}

.albumdash-artist-tags-holder>div:nth-child(2) {
    font-size: 13px;
    color: gray;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.artist-tags-title-desc {
    font-size: 13px;
    color: gray;
    font-weight: normal;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--base-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--base-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.custom-thumbnail-preview-holder div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .albumdash-container {
        width: 100%;
        height: auto;
        display: block;
        overflow-y: auto;
    }

    .albumdash-container-left-pan {
        width: 100%;
        height: auto;
    }


    .albumdash-container-right-pan {
        box-sizing: border-box;
        width: 100%;
        /* overflow-x: hidden; */
        height: auto;
        display: block;
    }

    .albumsdash-header {
        font-size: 12px;
    }

}