.leftnav-wrapper {
    width: 120%;
    height: 100%;
    background: var(--bg-leftnav);
    color: var(--text-leftnav);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 gray;
    overflow: visible;
    position: relative;
    z-index: 1010;
}

.leftnav-menu {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

.leftnav-item>.content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-leftnav);
}

.leftnav-item>.content>span {
    margin-top: 5px;
    font-weight: 500;
}


.leftnav-item>.content:hover {
    opacity: 0.7;
    color: var(--base-color);
}

.leftnav-logo-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.leftnav-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.leftnav-item:last-child {
    margin-top: auto;
    transition: 1s all ease-in-out;
}

.leftnav-item:first-child {
    margin-bottom: 20px;
}

.leftnav-item:last-child>span {
    text-align: center;
    width: 50px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.leftnav-item>i {
    font-size: 25px;
}

.leftnav-item:nth-child(n+2):nth-child(-n+6) {
    margin-bottom: 25px;
}

.item-active {
    opacity: 0.7;
    color: var(--base-color) !important;
}

.profile-options {
    visibility: hidden;
    height: 0;
}

.profile-options-show {
    visibility: visible;
    height: auto;
}

.hamburger-holder {
    position: absolute;
    bottom: 5px;
    right: -45px;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: none;
    z-index: 100000;
    box-shadow: 0 0 10px 0 gray;
    background: var(--base-color);
    color: white;
}



@media only screen and (max-width: 1000px) {
    .leftnav-wrapper {
        width: auto;
        position: fixed;
        z-index: 1010;
        margin-left: -65px;
        box-shadow: 0 0 0px 0 gray;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in;
    }

    .open-mobile-leftnav {
        margin-left: 0px !important;
    }

    .hamburger-holder {
        display: flex;
    }
}