.font-weight-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-light-white {
  color: #f3f3f3;
}

.text-black {
  color: black;
  opacity: 0.7;
}

.text-base-color {
  color: #ff7373;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.8;
}

.t-none {
  text-decoration: none;
}

.copyrights {
  font-size: 12px;
  color: #ff7373;
}

/* animations */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake-me {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
