@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
  background: #322c2c;
  box-sizing: border-box;
  color: #cccccc;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100vh;
  width: 250px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 10px;
  background: #242424;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.nav-content {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-content:hover {
  overflow-y: auto;
}

/* width */
.nav-content::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
.nav-content::-webkit-scrollbar-track {
  background: rgba(255, 253, 253, 0.5);
}

/* Handle */
.nav-content::-webkit-scrollbar-thumb {
  background: rgb(50, 44, 44, 0.8);
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
.nav-content::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 36, 36, 0.6);
}

.master-logo {
  align-self: flex-start;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  background: #242424;
}

.master-logo>img {
  width: 165px;
  margin-left: -25px;
}

.main-nav-menus {
  margin-top: 65px;
  margin-bottom: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding: 18px 0 18px 0;
  cursor: pointer;
}

.nav-menu:hover {
  background: rgb(112, 112, 112, 0.2);
}

.nav-menu-icon-holder {
  width: 30%;
  align-items: center;
  text-align: right;
  padding-right: 10px;
}

.nav-menu-icon-size {
  height: 17px;
}

.nav-menu-text {
  padding-left: 10px;
  font-size: 15px;
  color: #cccccc;
  width: 70%;
}

.bg-none {
  background: transparent !important;
  cursor: default !important;
}

.nav-horizontal-rule {
  border-bottom: 1px solid #707070;
  margin-bottom: 10px;
}

.playlist-content-holder {
  margin-top: -20px;
  padding-top: 10px;
  border-left: 1px solid #707070;
  margin-left: 52px;
  padding-left: 35px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.playlist-content-holder-text {
  padding: 10px 0 10px 0;
  margin-right: 5px;
  font-size: 14px;
  color: #cccccc;
  opacity: 0.7;
  word-wrap: none;
  overflow-x: hidden;
}

.playlist-content-holder-text:hover {
  background: rgb(112, 112, 112, 0.4);
}

.nav-playlist-plus-icon-holder {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255, 0.3);
  position: absolute;
  bottom: -21px;
  left: -11.5px;
  cursor: pointer;
}

.nav-playlist-plus-icon-holder::after {
  content: "Create New Playlist";
  margin-left: 68px;
  border-radius: 10px;
  position: absolute;
  width: 120px;
  font-size: 12px;
  color: #a3a2a2;
  padding: 5px 0 5px 35px;
  background: rgb(112, 112, 112, 0.3);
}

.nav-playlist-plus-icon-holder:hover::after {
  background: rgb(112, 112, 112, 0.5);
}

.nav-playlist-plus-icon-holder>img {
  height: 12px;
}

.nav-footer-container {
  margin-top: 20px;
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-bottom: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.nav-footer-container>div {
  cursor: default !important;
}

.nav-footer-container>div>span {
  cursor: pointer !important;
}

.footer-text-holder {
  border-top: 1px solid #707070;
  width: 100%;
  padding-top: 20px;
}

.nav-footer-container>div>span:hover {
  color: #cccccc;
}

/* main.........content container.......... */
main {
  height: calc(100vh - 65px);
  width: calc(100vw - 250px);
  margin-left: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.main-header {
  z-index: 10;
  width: inherit;
  height: 68px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 20px 0 20px;
}

.main-body {
  height: calc(100vh - 68px - 70px);
  width: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* width */
.main-body::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

/* Track */
.main-body::-webkit-scrollbar-track {
  background: rgba(255, 253, 253, 0.5);
  border-radius: 10px;
}

/* Handle */
.main-body::-webkit-scrollbar-thumb {
  background: rgb(50, 44, 44, 0.8);
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
.main-body::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 36, 36, 0.6);
}



.container-action-notifier {
  font-size: 15px;
  color: #b7b6b6;
  display: flex;
  align-items: center;
}

.container-action-notifier>img {
  height: 18px;
  padding-right: 10px;
}

.master-search-bar {
  position: relative;
  width: 500px;
}

.search-input {
  border: 0;
  border-radius: 50px;
  width: 100%;
  background: rgba(112, 106, 106, 0.5);
  font-size: 16px;
  caret-color: rgba(221, 221, 221, 0.4);
  padding: 10px 10px 10px 15px;
  color: #cccccc;
}

.search-input:focus {
  outline: none;
  border: 0;
}

.search-input::placeholder {
  color: #cccccc;
  opacity: 0.3;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 0px;
  top: 10px;
  cursor: pointer;
  background: #514b4b;
  width: 35px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 8px;
}

.search-icon>img {
  width: 18px;
}

.search-icon:focus {
  outline: none;
}

.search-icon:hover {
  opacity: 0.8;
}

.main-user-profile-holder {
  padding-left: 15px;
}

.main-user-profile-holder>img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* footer... player... */
footer {
  width: calc(100vw - 250px);
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

.progress-bar-holder {
  position: absolute;
  top: 0;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 5px;
  overflow-y: hidden;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
}

.progress-bar::-webkit-slider-runnable-track {
  background: #706a6a !important;
}

.progress-bar:focus {
  outline: none;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -100vw 0 0 100vw #f32c2c;
}

.progress-bar::-webkit-slider-thumb:hover {
  background: rgb(243, 243, 243, 0.5);
}

.player-controls-holder {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-desc-img {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  opacity: 0.8;
}

.player-desc-content {
  margin-left: 10px;
}

.player-desc-content>div:nth-child(1) {
  font-size: 14px;
  color: #979595;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.player-desc-content>div:nth-child(2) {
  color: #f32c2c;
  padding-top: 2px;
  font-size: 12;
}

.player-desc-content>div:nth-child(2)>span {
  color: #ffffff;
  opacity: 0.2;
}

.player-control-core {
  display: flex;
  width: 120px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.next-previous {
  display: flex;
  align-items: center;
}

.fed-up {
  opacity: 0.6;
  pointer-events: none;
}

.next-previous>img {
  cursor: pointer;
  height: 16px;
}

.next-previous>img:hover {
  opacity: 0.8;
}



.play-pause-toggle>img {
  display: flex;
  align-items: center;
  height: 24px;
}

.play-pause-toggle:hover {
  opacity: 0.8;
}

.player-rightmost-control-holder {
  padding-right: 15px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.player-rightmost-control-holder>div>img {
  height: 20px;
}

.volume-icon {
  font-size: 20px;
  color: #f32c2c;
}


.player-rightmost-control-holder>div:nth-child(1) {
  display: flex;
  align-items: center;
}

.volume-progress {
  color: #f32c2c;
  margin-left: 10px;
  display: inline-block;
  height: 5px;
  overflow: hidden;
  width: 100px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.volume-progress::-webkit-slider-runnable-track {
  background: #706a6a;
  cursor: pointer;
}

.volume-progress:focus {
  outline: none;
}

.volume-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -100vw 0 0 100vw #f32c2c;
  cursor: pointer;
}

.volume-progress::-webkit-slider-thumb:hover {
  background: rgb(243, 243, 243, 0.5);
}

.hamburger-holder {
  visibility: hidden;
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-holder>img {
  width: 20px;
}

.hamburger-holder:hover {
  background: rgba(183, 182, 182, 0.1);
}

.nav-close-holder {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-close-holder>img {
  width: 15px;
}

.nav-close-holder:hover {
  background: rgba(183, 182, 182, 0.1);
}

.nav-hide {
  display: none;
}

.nav-show {
  display: block;
}

/* mobile responsiveness */
@media only screen and (max-width: 1000px) {
  .hamburger-holder {
    visibility: visible;
  }

  .nav-close-holder {
    visibility: visible;
  }

  nav {
    display: none;
  }

  main {
    width: calc(100vw);
    margin-left: 0;
  }

  .main-header {
    padding-left: 70px;
  }



  footer {
    width: calc(100vw);
    margin-left: 0;
  }
}

@media only screen and (max-width: 750px) {
  .main-header {
    padding-left: 70px;
  }

  .player-desc-img {
    display: none;
  }

  .container-action-notifier {
    display: none;
  }

  .player-desc-content>div:nth-child(1) {
    font-size: 13px;
    width: 110px;
  }

  .player-desc-content>div:nth-child(2) {
    font-size: 13px;
  }

  .player-control-core {
    width: 120px;
    align-items: center;
    justify-content: space-evenly;
  }

  .next-previous>img {
    height: 15px;
  }

  .next-previous>img {
    height: 15px;
  }

  .play-pause-toggle>img {
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
  }

  .player-rightmost-control-holder {
    width: 220px;
    justify-content: space-evenly;
  }

  .player-rightmost-control-holder>div>img {
    height: 17px;
    margin-left: 15px;
  }

  .player-rightmost-control-holder>div:nth-child(1) {
    display: flex;
    align-items: center;
  }

  .volume-progress {
    margin-left: 8px;
    width: 60px;
  }

  .player-controls-holder {
    padding-left: 0px;
    padding-right: 0px;
  }

  .search-input {
    font-size: 12px;
  }

  .suggestion-keyword-holder {
    font-size: 12px !important;
  }

  .search-input::placeholder {
    font-size: 12px;
  }

  .search-icon {
    right: 0px;
    top: 8px;
    width: 25px;
  }

  .search-icon>img {
    width: 18px;
  }

  .main-user-profile-holder>img {
    width: 30px;
    height: 30px;
  }

  .main-header {
    padding-left: 55px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .player-desc-content>div:nth-child(1) {
    font-size: 10px;
    width: 100px;
  }

  .player-desc-content>div:nth-child(2) {
    font-size: 10px;
  }

  .next-previous>img {
    height: 12px;
  }

  .next-previous>img {
    height: 12px;
  }

  .play-pause-toggle>img {
    margin-left: 8px;
    margin-right: 8px;
    height: 18px;
  }

  .volume-progress {
    margin-left: 5px;
    width: 50px;
  }

  .player-rightmost-control-holder>div>img {
    height: 15px;
    margin-left: 15px;
  }

  .main-header {
    padding-left: 55px;
    padding-right: 5px;
  }

  .search-icon {
    width: 20px;
    padding-left: 5px;
  }

  .search-icon>img {
    width: 16px;
  }
}

/* suggestion keyword  */
.suggestion-keyword-holder {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 95%;
  height: auto;
  background: rgba(36, 36, 36, 0.9);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal !important;
  color: #979797;
  z-index: 10;
}

.suggested-keyword {
  opacity: 0.8;
  border-bottom: 1px solid rgba(37, 37, 37, 0.1);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.suggested-keyword:hover {
  background: rgb(112, 112, 112, 0.2);
  cursor: pointer;
}

.highlight-current {
  background: rgb(112, 112, 112, 0.2);
}