@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}

.logo::before {
  content: "Open";
  color: #ff7373;
}
.logo::after {
  content: "Beats";
  color: #0a0a0a;
}

.player-wrapper {
  width: 60%;
  border-radius: 50px;
  background: #ffffff;
  height: 72px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(253, 79, 79, 0.3);
}

.music-thumb {
  position: absolute;
  top: 5px;
  left: 7px;
  box-sizing: border-box;
  height: 88%;
  width: 60px;
  border-radius: 50%;
  background: #f3f3f3;
  display: flex;
  border: 1px solid #ff7373;
  justify-content: center;
  align-items: center;
}

.music-title {
  position: absolute;
  top: 10px;
  left: 82px;
  font-size: 14px;
  font-weight: bold;
  color: #ff7373;
  /* opacity: 0.6; */
}

/* =========== == = = == == ==============progress section ==============  =  ====   == = == = = = == =*/
.progress-bar {
  position: absolute;
  top: 34px;
  width: 47em;
  left: 82px;
  height: 5px;
  overflow-y: hidden;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
}

.progress-bar::-webkit-slider-runnable-track {
  background: rgba(180, 179, 179, 0.5);
}

.progress-bar:focus {
  outline: none;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -100vw 0 0 100vw #ff7373;
}

.progress-bar::-webkit-slider-thumb:hover {
  background: #f3f3f3;
}

/* =========== == = = == == ==============progress section ==============  =  ====   == = == = = = == =*/

.music-playpause-holder {
  position: absolute;
  top: 47px;
  left: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.play-icon {
  color: gray;
  font-size: 15px;
}

.volume-icon {
  color: gray;
  margin-left: 15px;
  font-size: 15px;
}

.volume-progress {
  color: #ff7373;
  margin-left: 5px;
  display: none;
}

.volume-icon:hover .volume-progress {
  display: inline-block;
}

.music-duration {
  margin-left: 15px;
  font-size: 12px;
  color: #ff7373;
}

.music-download {
  position: absolute;
  right: 82px;
  top: 12px;
  padding: 10px;
}

.music-download > img {
  width: 22px;
  opacity: 0.8;
}
.music-playlist {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 10px;
}

.music-playlist > img {
  width: 22px;
  opacity: 0.8;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.main-search {
  margin-top: 40px;
  position: relative;
}

.search-input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(red, green, blue, 0.5);
  width: 30em;
  font-size: 24px;
  letter-spacing: 5px;
  caret-color: rgba(255, 103, 103, 0.4);
  line-height: 1px;
  padding-bottom: 6px;
  padding-left: 5px;
}

.search-input:focus {
  outline: none;
  border-bottom: rgba(255, 103, 103, 0.5);
  border-bottom-style: ridge;
}

.search-input::placeholder {
  color: black;
  opacity: 0.3;
}

.search-icon {
  color: #ff7373;
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 8px;
  margin-top: 5px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.search-icon:focus {
  outline: none;
}

.search-icon:hover {
  opacity: 0.8;
}

/* suggestion keyword holder */
.suggestion-keyword-holder {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 0;
  width: 36em;
  height: auto;
  background: white;
  box-shadow: 0 0 5px 1px gray;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 5px;
}

.suggested-keyword {
  opacity: 0.8;
  border-bottom: 1px solid rgba(37, 37, 37, 0.1);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.suggested-keyword:hover {
  background: #f3f3f3;
  cursor: pointer;
}

.dummy-music-holder {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.music-icon {
  width: 100px;
}

.music-icon-para {
  font-size: 35px;
  color: #ff7373;
  margin-top: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
}

.copyrights {
  font-size: 12px;
  color: #ff7373;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.about-us {
  /* text-decoration: none; */
  color: #ff7373;
}
.android-color {
  margin-left: 20px;
  color: #34b90c;
  font-size: 25px;
}

/* search result nodes container */
.search-whole-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.search-result-container {
  padding-left: 40px;
  padding-right: 40px;
  max-height: 32em;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.result-node {
  margin: 15px;
  display: flex;
  width: 20em;
  height: 6em;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.result-node-thumb > img {
  height: 100%;
  width: 95px;
  border-radius: 50%;
}

.result-node-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.result-node-title {
  max-height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: black;
  opacity: 0.8;
  margin-top: 2px;
  text-align: left;
}

.result-node-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result-node-duration {
  font-size: 14px;
  color: black;
  opacity: 0.6;
}

.result-node-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.action-image-size {
  height: 16px;
}

/* search result nodes container */

/* commons */

.font-weight-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-light-white {
  color: #f3f3f3;
}

.text-black {
  color: black;
  opacity: 0.7;
}

.text-base-color {
  color: #ff7373;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.8;
}

.t-none {
  text-decoration: none;
}
