.main-search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.main-search {
  position: relative;
  width: 50%;
}

.search-input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(51, 50, 50, 0.3);
  width: 100%;
  font-size: 20px;
  letter-spacing: 5px;
  caret-color: rgba(255, 103, 103, 0.4);
  line-height: 1px;
  padding-bottom: 6px;
  padding-left: 5px;
}

.search-input:focus {
  outline: none;
  border-bottom: rgba(255, 103, 103, 0.5);
  border-bottom-style: ridge;
}

.search-input::placeholder {
  color: black;
  opacity: 0.3;
}

.search-icon {
  color: #ff7373;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 8px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.search-icon:focus {
  outline: none;
}

.search-icon:hover {
  opacity: 0.8;
}

/* suggestion keyword holder */
.suggestion-keyword-holder {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 0;
  width: 95%;
  height: auto;
  background: white;
  box-shadow: 0 0 5px 1px gray;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 5px;
}

.suggested-keyword {
  opacity: 0.8;
  border-bottom: 1px solid rgba(37, 37, 37, 0.1);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.suggested-keyword:hover {
  background: #f3f3f3;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .main-search {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .main-search {
    width: 80%;
  }
  .search-input {
    font-size: 18px;
  }
  .suggestion-keyword-holder {
    font-size: 18px;
  }
}
